li{
    list-style-type: none;
    width: 18rem;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.22);
}

li img{
    width: 100%;
}

li p,
li h3{
    margin: 0;
    text-align: left;
}

li .character__details{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
}

li button.character__status{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #fff;
    width: 40px;
    height: 40px;
    /* padding: 0.5rem; */
    border-radius: 50px;
}