.search__box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    align-items: center;
    width: 50%;
    height: 100%;
    border-radius: 50px;
    border: 1px solid #213547;
    gap: 1rem;
}

form input{
    border: none;
    background: none;
    width: 100%;
    font-size: large;
}

form button{
    border-radius: 0 50px 50px 0;
}

input[type=text]:focus{
    border:hidden;
    outline: none;
}

.material-symbols-outlined{
    background: #213547;
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
}